*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
}
.child{
    width: 20%;
    height: 150%;
    border: 1px solid black;
    position: fixed;
    display: block;
}
.child1{
    width: 80%;
    height: 100vh;
    margin-left:20%;
}
h1{
    text-align: center;
    font-size: 40px;
}
.col1{
    height: 500px;
    background-color: rgb(159, 95, 160);
    align-items: center;
}
.col2{
    height: 500px;
    background-color: rgb(184, 116, 32);
}
.col3{
    height: 500px;
    background-color: rgb(167, 169, 37);
}
.sub{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    /* text-align: center; */
    margin: auto;
    margin-top: 100px;

}
.p1{
    background-color: black;
    color: white;

}